.helpdoc .helpTitle{
  font-size:18px;
  border-bottom:1px solid #ddd;
  padding-bottom:10px;
}

.helpdoc .helpSubTitle{
  background-color:#a3d0d8;
  color:#fff;
  padding:4px 10px;
  margin-top:10px;
  font-size: 16px;
}

.helpdoc .helpContent{
  padding:10px 0;
  font-size: 14px;
}

.helpRow{
  text-indent: 2em;
}

.helpImg{
  width: 100%
}

.useHelp-title{
  line-height:40px;
  font-size: 16px;
}

.useHelp-arrow{
  color:#969696;
  float:right;
}

.useHelp-innerContent{
  font-size: 14px;
  margin-bottom: 10px;
}