<div class="scmContentTitle">
    <ul id="myTab" class="cartype nav nav-tabs" style="border-bottom: none;">
        <li class="active" href="#bfcx" data-toggle="tab"  ng-init="findAllpremiumByUserId()">
            保费查询
        </li>
    </ul>
    <div class="amountPre">保费总额度：{{TotalAmount | number:2}}</div>
    <div id="scmTitleTool" class="scmTitleTools">
        <div class="control-group">
            <label class="control-label">日期：</label>
            <input type="text" style="width: 100px;" ng-change="findAllpremiumByUserId()"  ng-model="startTime" value="{{startTime}}" class="starttime">--
            <input type="text" style="width: 100px;" ng-change="findAllpremiumByUserId()"  ng-model="endTime" value="{{endTime}}" class="endtime">
        </div>
    </div>
</div>
<div id="myTabContent" class="tab-content" style="padding: 10px 14px;">
    <div class="tab-pane fade in active" id="bfcx" style="height:97%;padding-bottom: 3%;">
        <div  class="condition-search">
                  <span style="display: inline-block"><label>负责人：</label>
                    <select ng-model="bfSearch.principalId"
                            ng-options="vlaue.id as vlaue.userName for (key,vlaue) in kingdsUser.principal">
                        <option value="">请选择</option>
                    </select></span>
                <span style="display: inline-block"><label>保险公司：</label>
                    <select required="" ng-model="bfSearch.insuranceCompName"
                            ng-options="vlaue.insuranceCompName as vlaue.insuranceCompName for (key,vlaue) in insuranceCompNames">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span style="display: inline-block">
                    <label>车牌号：</label><input  ng-model="bfSearch.carLicenseNumber" style="width: 70px;">
                </span>
                <span style="display: inline-block">
                    <label>车架号：</label><input  ng-model="bfSearch.chassisNumber" style="width: 120px;">
                </span>
                <span style="display: inline-block"><label>出单员:</label>
                    <select required="" ng-model="bfSearch.insuranceWriter"
                            ng-options="vlaue.userName as vlaue.userName for (key,vlaue) in kingdsUser.outBillMan">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span class="ml10 cursor" ng-click="chooseCycle(1)">
                    近一周
                </span>
                <span class="ml10 cursor" ng-click="chooseCycle(2)">
                    近一月
                </span>
                <span class="ml10 cursor" ng-click="chooseCycle(3)">
                    近三月
                </span>
            <button class="ml10" type="button" ng-click="findAllpremiumByUserId()">查询</button>
            <button type="button" ng-click="clearBfSearch()">清空</button>
        </div>
        <div ui-grid="premiumAllPage" ng-style="gridbox" class="gridbox"
             ui-grid-pinning  ui-grid-resize-columns ui-grid-selection ui-grid-infinite-scroll>
        </div>
        <div class="gridbox-footer" ng-if="loadStatus==0"  ng-click="searchMore()">加载更多({{policyCount}})</div>
        <div class="gridbox-footernone" ng-if="loadStatus==1" >正在加载中...</div>
        <div class="gridbox-footernone" ng-if="loadStatus==2" >全部加载完成({{policyCount}})</div>
    </div>
</div>
<div ng-include="'./views/insuranceManager/premiumInfoIM.html'"></div>