<div id="defeatqkPage" class="scmMaskWindow">
    <div class="scmWindow" style="height: 300px; width: 850px; margin-left: -400px; margin-top: -200px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <i>
                跟踪处理
            </i>
            <span class="closeBtn glyphicon glyphicon-remove"  ng-click="findByPageClose()"></span>
        </div>
        <div class="scmWindowContent ui-widget changeValue" style="height:500px;overflow-x:hidden;overflow-y: auto; outline: 0px; position: relative;">
            <div class="carmsg">
                <h3>战败潜客信息</h3>
                <span><label>潜客名称</label> <input type="text" ng-model="exhibitionDefeat.contact" maxlength="30" disabled></span>
                <span><label>潜客电话</label> <input type="text" ng-model="exhibitionDefeat.contactWay" disabled></span>
                <span><label>失销时间</label> <input type="text" class="coverDate" ng-model="exhibitionDefeat.failureTime" disabled></span>
                <div>
                    <span style="width: 506px;">
                        <label class="fl">失销原因</label>
                        <textarea rows="3" cols="30" style="width: 405px;height: 50px;margin-left: 6px" ng-model="exhibitionDefeat.cause"  disabled></textarea>
                    </span>
                    <span style="width: 506px;">
                        <label class="fl">失销分析</label>
                        <textarea rows="3" cols="30" style="width: 405px;height: 50px;margin-left: 6px;" ng-model="exhibitionDefeat.causeAnalysis" disabled></textarea>
                    </span>
                </div>
            </div>
        </div>
        <div class="scmWindowButton">
            <input ng-click="defeatqk(true)" type="button" value="生成潜客">
            <input ng-click="defeatqk(false)" type="button" value="战败">
            <input class="closeBtn" ng-click="findByPageClose()" type="button" value="关闭">
        </div>

    </div>
</div>