<div id="modifyuserbox" class="scmMaskWindow">
    <div class="scmWindow" style="height: 380px; width: 400px; margin-left: -200px; margin-top: -190px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <i>
                修改用户信息
            </i>
            <span class="closeBtn glyphicon glyphicon-remove"></span>
        </div>

        <form name="myForm" novalidate="novalidate">
            <div class="scmWindowContent ui-widget">
                <div class="carmsg">
                    <table class="adduser-table">
                        <tr>
                            <td width="130">用户名</td>
                            <td><input type="text" name="loginName"  ng-model="modifyuser.loginName"
                                      placeholder="由字母、数字、下划线组成" maxlength="40" >
                            </td>
                        </tr>
                        <tr>
                            <td width="">用户姓名</td>
                            <td><input type="text" ng-model="modifyuser.userName" maxlength="40"></td>
                        </tr>
                        <tr>
                            <td>密码</td>
                            <td><input type="text"  value="******" Fieldset disabled></td>
                        </tr>
                        <tr>
                            <td width="">联系电话</td>
                            <td><input type="text" ng-model="modifyuser.phone"></td>
                        </tr>
                        <tr>
                            <td width="">角色选择</td>
                            <td><input type="text"   ng-model="modifyuser.roleName" Fieldset disabled></td>
                        </tr>
                        <tr>
                            <td width="">邮箱</td>
                            <td><input type="text"  name="email" ng-model="modifyuser.email" maxlength="40"></td>
                        </tr>
                        <tr>
                            <td width="">备注</td>
                            <td><input type="text" ng-model="modifyuser.remark" maxlength="500"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="scmWindowButton">
                <input  ng-click="modifyUserSubmit()" type="button" value="确认">
            </div>
        </form>
    </div>
</div>
<script>
    //关闭弹框
    $(".closeBtn").click(function(){
        $("#modifyuserbox").hide();
    });
</script>