<div id="newsingle" class="scmMaskWindow">
    <div class="scmWindow" style="height: 600px; width: 1100px; margin-left: -550px; margin-top: -300px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <div id="WindowTitleTab">
            <span class="active" ng-click="switch(0)">
                新增保单
            </span>
            <span ng-click="switch(1)">
                历史保单
            </span>
            </div>

            <span ng-click="closeNewSingle()" class="closeBtn glyphicon glyphicon-remove"></span>
        </div>
        <form name="policy" role="form">
        <div class="scmWindowContent ui-widget" style="height:500px;overflow-x:hidden;overflow-y: auto; outline: 0px; position: relative;">
            <div class="carmsg">
                <h3>车辆信息</h3>
                <span><label>车牌号</label> <input type="text" ng-model="newsingle.carLicenseNumber" maxlength="30"></span>
                <span><label ng-class="{'text-danger':policy.chassisNumber.$dirty &&policy.chassisNumber.$error.required}">车架号<em class="emphasis">*</em></label>
                    <input type="text" name="chassisNumber" ng-class="{error:policy.chassisNumber.$dirty &&policy.chassisNumber.$error.required}"
                           ng-blur="getInfoByChassisNumber(1)" ng-model="newsingle.chassisNumber" placeholder="车架号不能为空" required maxlength="50">
                </span>
                <span><label>发动机号</label> <input type="text"  ng-model="newsingle.engineNumber" maxlength="50"></span>
                <span><label>上牌日期</label> <input type="text" class="carDate" ng-model="newsingle.registrationDate" readonly></span>
                <span><label>品牌</label>
                    <select required="" ng-model="newsingle.carBrand" style="height: 20px;margin: 5px;margin-left: 2px"
                            ng-options="carBrand as carBrand.brandName for (key,carBrand) in carBrandsXBD"
                            ng-change="xzVehicleModel()">
                        <option value="">请选择品牌</option>
                    </select>
                </span>
                <span ><label>车辆型号</label>
                    <select id="clxhxz_xbd" ng-model="newsingle.vehicleModel" style="height: 20px;margin: 5px;margin-left: 2px"
                            ng-options="vehicleModel as vehicleModel.modelName for (key,vehicleModel) in newsingle.carBrand.carModelList">
                    <option value="">请选择型号</option>
                    </select>
                     <input type="text" id="clxhsr_xbd" ng-model="newsingle.vehicleModelInput" maxlength="50">
                </span>

            </div>
            <div class="carmsg">
                <h3>保单信息</h3>
                <span>
                    <label>商业险保单号</label> <input type="text" ng-model="newsingle.binsuranceNumber" maxlength="50">
                </span>
                <span class="tipbox"><label>商业险金额</label>
                    <input type="number" num-format ng-model="newsingle.binsuranceCoverage" min="0" step="0.01" ng-change="bfhjjs()" >
                </span>
                <span><label>车船税金额</label> <input type="number" min="0" step="0.01" num-format ng-model="newsingle.vehicleTax" ng-change="bfhjjs()"></span>
               <!-- <span><label>优惠项目</label>
                    <select ng-model="newsingle.privilegePro" ng-options="x for x in privilegePros">
                        <option value="">请选择</option>
                    </select>
                </span>-->
                <span><label>续保渠道</label>
                    <select ng-model="newsingle.renewalWay" ng-options="x for x in renewalWays">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>本店投保次数</label> <input type="number" min="0" ng-model="newsingle.insurNumber" ng-init="newsingle.insurNumber=0" disabled></span>
                <span><label>交强险保单号</label> <input type="text" ng-model="newsingle.cinsuranceNumber" maxlength="50"></span>
                <span><label>交强险金额<em class="emphasis">*</em></label>
                    <input type="number" min="0" num-format ng-model="newsingle.cinsuranceCoverage" ng-change="bfhjjs()">
                </span>
                <span style="display: none"><label>赠送成本合计</label> <input type="number" string-to-number ng-model="newsingle.donateCostCount" disabled></span>
                <span style="display: none"><label>手续费合计</label> <input type="number" string-to-number ng-model="newsingle.factorageCount" disabled></span>
                <span><label>付款方式</label>
                    <select ng-model="newsingle.payWay" ng-options="x for x in payWays">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>送单方式</label>
                    <select ng-model="newsingle.sdfs" ng-options="x for x in sdfss">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span style="display: none"><label>利润</label>  <input type="text" ng-model="newsingle.profit" disabled></span>
                <span><label>投保类型<em class="emphasis">*</em></label>
                    <select required="" ng-model="newsingle.coverType" ng-change="sxfhj(2)"
                            ng-options="coverType.id as coverType.coverType for (key,coverType) in coverTypes" required>
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>是否贷款</label>
                    <select  ng-model="newsingle.sfdk" ng-change="sxfhj(0)" ng-disabled="newsingle.coverType!=1" ng-options="vlaue.id as vlaue.vlaue for (key,vlaue) in sf">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>投保日期</label> <input type="text" class="coverDate" ng-model="newsingle.insurDate" readonly></span>
                <div class="datetimeBox">
                    <label>商业险日期开始</label>
                    <input  ng-change="syxrqStartChange()" readonly name="syxrqStartDate" class="datetimeInput" type="text" ng-model="newsingle.syxrqStart" datetime-picker="yyyy-MM-dd HH:mm:ss"  popup-placement="bottom-right" is-open="syxrqStartDate" datepicker-options="syxrqStartDateOptions" button-bar="{show:false}"  datepicker-append-to-body="true" ng-click="syxrqStartDate = true">
                </div>
                <span>
                    <label>商业险日期结束</label>
                    <input type="text" ng-model="newsingle.syxrqEnd" disabled>
                </span>
                <div class="datetimeBox">
                    <label>交强险日期开始<em class="emphasis">*</em></label>
                    <input  ng-change="jqxrqStartChange()" readonly name="jqxrqStartDate" class="datetimeInput" type="text" ng-model="newsingle.jqxrqStart" datetime-picker="yyyy-MM-dd HH:mm:ss" is-open="jqxrqStartDate" datepicker-options="jqxrqStartDateOptions" button-bar="{show:false}"  datepicker-append-to-body="true" ng-click="jqxrqStartDate = true">
                </div>
                <span>
                    <label>交强险日期结束<!--<em class="emphasis">*</em>--></label>
                    <input type="text" class="coverDate" ng-model="newsingle.jqxrqEnd" disabled >
                </span>
                <span><label>去年保费</label> <input type="number" min="0" step="0.01" num-format ng-model="newsingle.qnbe"></span>
                <span><label>去年商业险金额</label> <input type="number" min="0" step="0.01" num-format ng-model="newsingle.qnsyxje"></span>
                <span><label>去年交强险金额</label> <input type="number" min="0" step="0.01" num-format ng-model="newsingle.qnjqxje"></span>
                <span><label>去年车船税金额</label> <input type="number" min="0" step="0.01" num-format ng-model="newsingle.qnccsje"></span>

                <span style="width: 506px"><label>开票名称</label> <input style="width: 405px" type="text" ng-model="newsingle.invoiceName" maxlength="50"></span>
                <br/>
                <span><label>保险公司</label>
                    <select required="" ng-model="newsingle.insuranceCompName" style="height: 20px;margin: 5px;margin-left: 2px"
                            ng-options="vlaue as vlaue.insuranceCompName for (key,vlaue) in insuranceCompNames"
                            ng-change="sxfhj(1)">
                        <option value="">请选择</option>
                    </select>
                </span> <br/>
                <div>
                    <span style="width: 90px;float: left"><label>商业险险种</label></span>
                    <div class="insu_checkbox">
                        <span ng-model="newsingle.insuranceTypes" ng-repeat="xz in newsingle.insuranceTypes">
                            <input type="checkbox" ng-click="checkboxChange()" ng-model="xz.checkStatus">
                            <label>{{xz.typeName}}</label>
                            <input class="insured" ng-if="xz.status==1" type="number" min="0" step="0.01" num-format ng-model="xz.coverage">

                            <!--车损-->
                        <input type="number" ng-if="xz.typeId==64" id="chesun" ng-disabled="CheSunck!=1" class="bxxz" step="10000"
                               min="10000" max="300000"  ng-model="bihubaojia.CheSun" style="width:80px">
                            <!--三责-->
                        <select class="insured" ng-if="xz.typeId==65" id="sanzhe" ng-model="bihubaojia.SanZhe" ng-disabled="sanZheck!=1"  ng-options="x.value as x.site for x in SanZhes" style="width:80px"/>
                            <!--司机-->
                        <input type="number" ng-if="xz.typeId==67" id="siji" ng-disabled="siJick!=1" class="bxxz" step="10000"
                               min="10000" max="300000"  ng-model="bihubaojia.SiJick" style="width:80px">
                            <!--乘客 bihubaojia.ChengKe-->
                        <input type="number" ng-if="xz.typeId==76" id="chengke" ng-disabled="chengKeck!=1" class="bxxz" step="10000"
                               min="10000" max="300000"  ng-model="bihubaojia.ChengKe" style="width:80px">
                            <!--划痕-->
                        <select class="bxxz" ng-if="xz.typeId==69" id="huahen"  ng-model="bihubaojia.HuaHen" ng-disabled="huaHenck!=1"  ng-options="x for x in HuaHens"  style="width:80px"/>
                            <!--玻璃-->
                        <select ng-model="bihubaojia.BoLi" ng-if="xz.typeId==70" id="boli" ng-disabled="boLick!=1" class="bxxz" ng-options="x.value as x.site for x in BoLis" style="width:80px"/>
                            <!--货物-->
                        <input type="number" ng-if="xz.typeId==79" id="huowu" min="0" class="bxxz" step="100" ng-disabled="hcHuock!=1" ng-model="bihubaojia.HcHuoWuZeRen" style="width:80px"/>
                            <!--精神损失-->
                        <input type="number" ng-if="xz.typeId==77" id="jingshen" min="0" class="bxxz" step="100" ng-disabled="hcJingShenck!=1" ng-model="bihubaojia.HcJingShenSunShi" style="width:80px"/>
                            <!--费用补偿-->
                        <input type="number" ng-if="xz.typeId==80" id="feiyong" min="0" class="bxxz" ng-disabled="hcFeiYongck!=1" ng-model="bihubaojia.hcFeiYongBuChang" style="width:80px"/>
                            <!--指定修理厂 -->
                        <input type="number" ng-if="xz.typeId==74" id="zhiding" min="0" class="bxxz" step="100"  ng-disabled="hcXiuLick!=1" ng-model="bihubaojia.hcXiuLiBuChang" style="width:80px"/>
                            <!--  <input type="text" ng-if="xz.typeId==64"  ng-model="damage"/>
                           <input type="text" ng-if="xz.typeId==65"  ng-model="one"/>
                            <input   type="text" ng-if="xz.typeId==66"  ng-model="one"/>-->
                        </span>
                    </div>
                </div>
                <div class="clear">
                    <span style="width: 600px;"><label class="fl">备注</label> <textarea rows="3" cols="30" style="width: 406px;height: 50px;margin-left: 5px;" ng-model="newsingle.remark" maxlength="500"></textarea> </span>
                </div>
            </div>
            <div class="carmsg">
                <h3>财务信息</h3>
                <span><label>保费合计</label> <input type="number" string-to-number ng-model="newsingle.premiumCount" disabled></span>
                <span><label>现金优惠</label> <input type="number" min="0" step="0.01" num-format ng-model="newsingle.privilegeSum" ng-change="sjjejs()"></span>
                <span><label>现金优惠点位</label> <input  type="number" min="0" step="0.01" num-format ng-change="xjyhdwjs()" ng-model="newsingle.xjyhdw"></span>
                <span><label>储值卡金额</label> <input type="number" ng-model="newsingle.czkje" disabled></span>
                <span><label>储值卡金额点位</label> <input type="number" ng-model="newsingle.czkjedw" disabled></span>
                <span ng-if="accountModule==1"><label>赠送金额</label> <input type="number" min="0" step="0.01" num-format ng-model="newsingle.giftDiscount" disabled></span>
                <span><label>实收金额</label> <input type="number" min="0" string-to-number ng-model="newsingle.realPay" disabled></span>
            </div>
            <div class="carmsg">
                <h3>办理人员</h3>
                <span><label>负责人</label>
                    <select required="" ng-model="newsingle.principal" style="height: 20px;margin: 5px;margin-left: 2px"
                            ng-options="vlaue as vlaue.userName for (key,vlaue) in kingdsUser.principal">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>业务员</label>
                    <select required="" ng-model="newsingle.clerk" style="height: 20px;margin: 5px;margin-left: 2px"
                            ng-options="vlaue as vlaue.userName for (key,vlaue) in kingdsUser.salesman">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>出单员</label><input type="text" ng-model="user.userName" disabled></span>
                <span><label>收银员</label><input type="text" ng-model="newsingle.cashier" maxlength="20"></span>
                <span style="display: none"><label>招揽员</label>
                    <select required="" ng-model="newsingle.solicitMember" style="height: 20px;margin: 5px;margin-left: 2px"
                            ng-options="vlaue as vlaue.userName for (key,vlaue) in kingdsUser.spieler">
                        <option value="">请选择</option>
                    </select>
                </span>
            </div>
            <div class="carmsg">
                <h3>客户信息</h3>
                <span><label>车主</label><input type="text" ng-model="newsingle.carOwner" maxlength="80"></span>
                <span><label>被保险人</label><input type="text" ng-model="newsingle.insured" maxlength="80"></span>
                <span><label>被保险人证件号</label><input type="text" ng-model="newsingle.certificateNumber" maxlength="80"></span>
                <span>
                    <label>联系人<em class="emphasis">*</em></label><input type="text" ng-model="newsingle.contact" placeholder="联系人不能为空" required maxlength="80"></span>
                <span>
                    <label>联系方式<em class="emphasis">*</em></label><input type="text" ng-model="newsingle.contactWay" placeholder="联系方式不能为空" required maxlength="60"></span>
                <span><label>客户来源 </label><input type="text" ng-model="newsingle.customerSource" maxlength="20"></span>
                <span><label>客户性质</label><input type="text" ng-model="newsingle.customerCharacter" maxlength="20"></span>
                <span style="width: 504px"><label>现住址 </label><input style="width: 405px" type="text" ng-model="newsingle.address" maxlength="100"></span>
                <br/><br/>
                <div ui-grid="tracelistNewPolicy" style="width: 1030px;height: 200px;"  ui-grid-pinning  ui-grid-resize-columns ui-grid-selection>
                </div>
            </div>
        </div>
        <div class="scmWindowButton">
            <input ng-click="submit()" type="button" value="确定">
            <input ng-show="bhDock==4&&billType==0" ng-click="getCarInsuranceInfo()" type="button" value="获取出单">
            <input class="closeBtn" ng-click="closeNewSingle()" type="button" value="取消">
        </div>
        </form>
    </div>
</div>
<script>
    //关闭弹框
    $(".closeBtn").click(function(){
        $("#newsingle").hide();
    });
    $('.coverDate').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        todayBtn: 'linked',
        language: 'zh-CN',
        forceParse:false
    }).on('changeDate',function(ev){
        var  startTime = ev.date.valueOf();
    });
    $('.carDate').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        todayBtn: 'linked',
        language: 'zh-CN',
        forceParse:false
    }).on('changeDate',function(ev){
        var  startTime = ev.date.valueOf();
    });;
    $(function () { $("[data-toggle='tooltip']").tooltip(); });

</script>


<!--
ng-disabled="policy.chassisNumber.$pristine ||policy.chassisNumber.$error.required||
policy.syxbe.$pristine ||policy.syxbe.$error.required||
policy.jqxbe.$pristine ||policy.jqxbe.$error.required||
policy.tblx.$pristine ||policy.tblx.$error.required||
policy.syxrqStart.$pristine ||policy.syxrqStart.$error.required||
policy.syxrqEnd.$pristine ||policy.syxrqEnd.$error.required||
policy.jqxrqStart.$pristine ||policy.jqxrqStart.$error.required||
policy.jqxrqEnd.$pristine ||policy.jqxrqEnd.$error.required||
policy.contact.$pristine ||policy.contact.$error.required||
policy.contactWay.$pristine ||policy.contactWay.$error.required" -->
