<div id="scmSidebar"  ng-mouseenter="sideNavSwitch()"  ng-mouseleave="scmSBReturn()">
    <div class="scmSideNav">
        <div class="scmsideNavTitle">功能导航</div>
        <ul class="scmsideNavBtn" style="height: 441px; overflow: auto;">
            <li ui-sref="insuranceWriter.policy">保单管理</li>
            <li ui-sref="insuranceWriter.customer">潜客管理</li>
            <li ui-sref="insuranceWriter.giftRecord">赠送记录</li>
            <li ui-sref="insuranceWriter.premium">保费查询</li>
            <li ui-sref="insuranceWriter.suggest">建议管理</li>
            <li ui-sref="insuranceWriter.record">同步密码</li>
            <li ng-if="logo==1"><a href="http://college.bofide.cn/client/bip" target="_blank" class="bipmv">视频教程</a></li>
        </ul>
    </div>
    <div class="scmSBReturn" ng-click="scmSBReturn()"></div>
    <div class="scmWindowButton"><input ng-click="suggest()" type="button" value="建议"></div>
</div>