<div id="ht" class="scmMaskWindow">
    <div class="scmWindow" style="height: 160px; width: 250px; margin-left: -125px; margin-top: -80px;">
        <div class="scmWindowTitle">
            <i style="left: 12px;">回退原因</i>
            <span class="close_confirmPage glyphicon glyphicon-remove"></span>
        </div>
        <div class="scmWindowContent ui-widget tiptxt">
            <textarea rows="3" cols="30" style="width: 220px;height: 50px;float: right;" ng-model="confirmData.htyy" maxlength="500"></textarea>
        </div>
        <div class="scmWindowButton" style="padding: 10px 10px;">
            <input  ng-click="makesure()" type="button" value="确认">
            <input class="fr close_confirmPage" type="button" value="取消">
        </div>
    </div>
</div>
<script>
    //关闭弹框
    $(".close_confirmPage").click(function(){
        $("#ht").hide();
    });
</script>