<div id="Genzongvalue" class="scmMaskWindow">
    <div class="scmWindow" style="height: 150px; width: 250px; margin-left: -125px; margin-top: -70px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
        </div>
        <div class="scmWindowContent ui-widget tiptxt">
            是否保存跟踪信息
        </div>
        <div class="scmWindowButton">
            <input ng-click="saveGenzong()" type="button" value="确认">
            <input class="fr" ng-click="cancelGenzong()" type="button" value="取消">
        </div>
    </div>
</div>
