<div class="scmContentTitle">
    <ul id="myTab" class="cartype nav nav-tabs" style="border-bottom: none;">
        <li class="active" href="#tuisongxiu"  ng-init="findwxRecordByCondition()" data-toggle="tab">
            维修记录
        </li>
    </ul>
</div>
<div id="myTabContent" class="tab-content" style="padding: 10px 14px;">
    <div class="tab-pane fade in active" id="tuisongxiu" style="height:97%;padding-bottom: 3%;">
        <div class="condition-search">
            <span style="display: inline-block">
                <label>车牌号：</label><input  ng-model="wxSearch.carLicenseNumber" style="width: 100px;">
            </span>
           <span style="display: inline-block">
                <label>联系人：</label><input  ng-model="wxSearch.entrustor" style="width: 70px;">
            </span>
            <span style="display: inline-block">
                <label>联系电话：</label><input  ng-model="wxSearch.entrustorPhone" style="width: 100px;">
            </span>
            <span style="display: inline-block">
                <label>维修开始日期：</label><input  ng-model="wxSearch.maintenanceTimeStartStart" style="width: 80px;" class="starttime"> -
                <input  ng-model="wxSearch.maintenanceTimeStartEnd" style="width: 80px;" class="endtime">
            </span>
            <span style="display: inline-block">
                <label>维修结束日期：</label><input  ng-model="wxSearch.maintenanceTimeEndStart" style="width: 80px;" class="starttime"> -
                <input  ng-model="wxSearch.maintenanceTimeEndEnd" style="width: 80px;" class="endtime">
            </span>
            <span style="display: inline-block">
                <label>本店承保：</label>
                <select  ng-model="wxSearch.bdcb" ng-options="vlaue.id as vlaue.vlaue for (key,vlaue) in sf">
                    <option value="">请选择</option>
                </select>
            </span>
            <button class="ml10" type="button" ng-click="findwxRecordByCondition()">查询</button>
            <button type="button" ng-click="clearwxSearch()">清空</button>
        </div>
        <div ui-grid="maintainRecordPage" ng-style="gridbox" class="gridbox" ui-grid-pinning  ui-grid-resize-columns ui-grid-selection ui-grid-infinite-scroll>
        </div>
        <div class="gridbox-footer" ng-if="loadStatus==0" ng-click="searchMore()">加载更多(<span>{{policyCount}}</span>)</div>
        <div class="gridbox-footernone"  ng-if="loadStatus==1" >正在加载中...</div>
        <div class="gridbox-footernone" ng-if="loadStatus==2" >全部加载完成(<span>{{policyCount}}</span>)</div>
    </div>
</div>
<div ng-include="'./views/serviceAdvisor/maintainRecordInfoSA.html'"></div>
