<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 我的首页 -->
  <ion-tab title="我的主页" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/homePage/myHomePage">
    <ion-nav-view name="myHomePage"></ion-nav-view>
  </ion-tab>

  <!-- 销售管理 -->
  <ion-tab title="保险报表" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/homePage/report">
    <ion-nav-view name="report"></ion-nav-view>
  </ion-tab>

  <!-- 个人中心 -->
  <ion-tab title="个人中心" icon-off="ion-person" icon-on="ion-person" href="#/homePage/personalCenter">
    <ion-nav-view name="personalCenter"></ion-nav-view>
  </ion-tab>

  <!-- 在线客服 -->
  <ion-tab ng-if="ctrl.storeLogo==1||ctrl.storeLogo==null" title="在线客服" icon-off="ion-chatboxes" icon-on="ion-chatboxes"  ng-click="ctrl.goOnLineService('onlineService')">
    <ion-nav-view name="chatboxes"></ion-nav-view>
  </ion-tab>

</ion-tabs>
