<ion-view view-title="修改密码" >
  <ion-nav-buttons side="left">
    <button ng-if="ctrl.user.role.roleId==3||ctrl.user.role.roleId==10||ctrl.user.role.roleId==11||ctrl.user.role.roleId==16||ctrl.user.role.roleId==23" class="button button-icon icon ion-ios-arrow-left fcf" ng-click="ctrl.stateChange('homePage.personalCenter')"></button>
    <button ng-if="ctrl.user.role.roleId==20" class="button button-icon icon ion-ios-arrow-left fcf" ng-click="ctrl.stateChange('smsHomePage.smsPersonalCenter')"></button>
    <button ng-if="ctrl.user.role.roleId==2||ctrl.user.role.roleId==6||ctrl.user.role.roleId==8" class="button button-icon icon ion-ios-arrow-left fcf" ng-click="ctrl.stateChange('xbzyHomePage.personalCenter')"></button>
    <button ng-if="ctrl.user.role.roleId==7||ctrl.user.role.roleId==9" class="button button-icon icon ion-ios-arrow-left fcf" ng-click="ctrl.stateChange('mgrHomePage.personalCenter')"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">用户名</span>
        <span>{{ctrl.userName}}</span>
      </label>
      <label class="item item-input">
        <span class="input-label">原密码</span>
        <input type="password" ng-model="ctrl.change.password">
      </label>
      <label class="item item-input">
        <span class="input-label">新密码</span>
        <input type="password" ng-model="ctrl.change.passwordOne">
      </label>
      <label class="item item-input">
        <span class="input-label">重复新密码</span>
        <input type="password" ng-model="ctrl.change.passwordTwo">
      </label>
    </div>
    <div class="loginErrMsg" ng-show="ctrl.errMsg" ng-bind="ctrl.errMsg"></div>
  </ion-content>
  <ion-footer-bar align-title="center" class="dark-border">
    <div class="button-bar">
      <button class="button button-assertive"  ng-click="ctrl.goBack()">取消</button>
      <button class="button button-bip" ng-click="ctrl.changePassword()">确定</button>
    </div>
  </ion-footer-bar>
</ion-view>
