<div id="changePolicy" class="scmMaskWindow">
    <div class="scmWindow" style="height: 150px; width: 250px; margin-left: -125px; margin-top: -70px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <span class="closeBtn glyphicon glyphicon-remove" ng-click="cancelChange()"></span>
        </div>
        <div class="scmWindowContent ui-widget tiptxt">
            保单信息被修改是否保存
        </div>
        <div class="scmWindowButton">
            <input ng-click="saveUpdateSingle()" type="button" value="是">
            <input class="fr" ng-click="cancelChangePolicy()" type="button" value="否">
        </div>
    </div>
</div>
