<div id="changePass" class="scmMaskWindow">
    <div class="scmWindow" style="height: 260px; width: 350px; margin-left: -175px; margin-top: -130px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <i>
                修改密码
            </i>
            <span class="closeBtn glyphicon glyphicon-remove"></span>
        </div>
        <div class="scmWindowContent ui-widget">
            <div>
                <table class="addstore-table" style="text-align: left;">
                    <tr>
                        <td width="100"> 登录用户：</td>
                        <td style="padding-left: 5px;">{{user.userName}}</td>
                    </tr>
                    <tr>
                        <td width="">输入旧密码：</td>
                        <td><input type="password" ng-model="change.oldPassword"></td>
                    </tr>
                    <tr>
                        <td width=""> 输入新密码：</td>
                        <td><input type="password" ng-model="change.newPassword"></td>
                    </tr>
                    <tr>
                        <td width=""> 重复输入新密码：</td>
                        <td><input type="password" ng-model="change.confirmPassword"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="scmWindowButton">
            <input type="button" ng-click="changePasswordbtn()" value="确认">
            <input class="closeBtn" type="button" value="关闭">
        </div>
    </div>
</div>
<script>
    //关闭弹框
    $(".closeBtn").click(function(){
        $("#changePass").hide();
    });
</script>