<div id="scmMaskWindow" class="scmMaskWindow">
    <div class="scmWindow" style="height: 600px; width: 1100px; margin-left: -550px; margin-top: -300px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <i>
                回退待审批的潜客
            </i>
        </div>
        <div class="scmWindowContent  ui-widget" style="height:500px;overflow-x: hidden;overflow-y: auto; outline: 0px; position: relative;">
            <div class="carmsg">
                <h3>车辆信息</h3>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
            </div>
            <div class="carmsg">
                <h3>保险信息</h3>
                <span>车牌号
                    <select>
                        <option >全部</option>
                        <option>listitem1</option>
                        <option>listitem2</option>
                        <option>listitem3</option>
                    </select></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
            </div>
            <div class="carmsg">
                <h3>客户信息</h3>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
                <span>车牌号 <input type="text"></span>
            </div>
        </div>
        <div class="scmWindowButton">
            <input id="backPCCancel" type="button" value="撤销">
            <input class="closeBtn" type="button" value="关闭">
        </div>
    </div>
</div>
<script>
    //关闭弹框
    $(".closeBtn").click(function(){
        $("#newsingle").hide();
    });
</script>