<div id="scmHeader">
    <div class="scmLogo"> </div>
    <div class="scmUser">
        <div style="background-image:url(../images/userImg.png)" class="scmUserImage"> </div><i>大力神-销售顾问</i>
    </div>
    <div class="scmNav">
        <div class="scmNavBtn" style="background-image: url(../images/headNavtree/approveing_icon.png);"><i>应跟踪</i>
            <div id="approvingOrderWarning" class="scmWarning" style="">429</div>
        </div>
        <div class="scmNavBtn" style="background-image: url(../images/headNavtree/backing_icon.png);"><i>未接收</i>
            <div id="backingPCWarning" class="scmWarning" style="">6</div>
        </div>
        <div  id="daisp" class="scmNavBtn" style="background-image: url(../images/headNavtree/receiveing_icon.png);"><i>待审批</i>
            <div class="scmWarning" style="">12</div>
        </div>
        <div class="scmNavBtn" style="background-image: url(../images/headNavtree/refused_icon.png);"><i>将超期</i>
            <div id="refuseingOrderWarning" class="scmWarning" style="">3</div>
        </div>
        <div class="scmNavBtn" style="background-image: url(../images/headNavtree/backing_icon.png);"><i>已超期</i>
            <div id="overduetabWarning" class="scmWarning" style="">31</div>
        </div>
    </div>
    <div id="scmTissueName" style="background:rgba(0,0,0,.1);box-shadow: inset 0 1px 0 rgba(0,0,0,.1);display:none" class="scmTissueName">北京博福易商科技有限公司</div>
    <div id="scmTissueNames" style="top:75px;display:none" class="scmTissueNames">
        <div id="scmTissueNameClose" class="scmTissueNameClose">
            <div class="closeLine1"></div>
            <div class="closeLine2"></div>
        </div>
        <ul id="scmTissueNamesUl"><li class="scmTissueType"></li></ul>
    </div>
</div>
<div class="scmUserTip"><ul><li id="updatePassword">修改密码</li><li id="exitSecurity">安全退出</li></ul><s><i></i></s></div>