<div class="dealBox">
  <ion-modal-view style="margin-top: 0px;">
    <ion-content class="padding">
      <table class="searchTable" style="width:100%;margin: 0 auto">
        <tr>
          <td class="text-right">失销原因<span class="red">*</span>：</td>
          <td>
            <select style="width: 140px;"  ng-model="ctrl.confirmData.htyyxz" ng-options="x for x in ctrl.htyySelect">
              <option value="">请选择原因</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="text-right" style="vertical-align: top">备注：</td>
          <td><textarea rows="3" cols="30" style="width: 80%;height: 100px;margin-top: 5px;" ng-model="ctrl.confirmData.htyysr" maxlength="500"></textarea></td>
        </tr>
      </table>
    </ion-content>
    <ion-footer-bar align-title="center" class="dark-border">
      <div class="button-bar">
        <button class="button button-bip" ng-click="modalSX.hide()">取消</button>
        <button class="button button-bip" ng-click="ctrl.traceReturnBtn(1)">确认</button>
      </div>
    </ion-footer-bar>
  </ion-modal-view>
</div>
