doctype html
html
  head
    title= title
    link(rel="icon" href="images/chip.ico" type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/styles/login.css', rel='stylesheet', type='text/css')
    //script(type="text/javascript",src="/components/angular/angular.js")
    //script(type="text/javascript",src="/javascripts/app.js")
    script(type="text/javascript",src='/components/jquery/dist/jquery.min.js')
    script(type="text/javascript",src='/components/jquery-form/jquery.form.js')

  body
    block content
