<div id="sjdr" class="scmMaskWindow">
    <div class="scmWindow" style="height: 390px; width: 420px; margin-left: -200px; margin-top: -200px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <i>
                数据导入
            </i>
            <span class="closeBtn glyphicon glyphicon-remove"></span>
        </div>
        <div class="scmWindowContent ui-widget" style="height:360px;overflow-x:hidden;overflow-y: auto; outline: 0px; position: relative;">
            <div class="carmsg">
                <div>
                    <label class="control-label">请选择导入类别&nbsp;</label>
                    <select  ng-model="file.importCategory" ng-options="x for x in importCategories">
                        <option value="">请选择</option>
                    </select>
                </div>
                <div style="margin-bottom: 2px;color: red;" ng-if="file.importCategory =='推送修'">
                    <label class="control-label">请选择保险公司&nbsp;</label>
                    <select ng-model="file.insuranceCompName" ng-options="vlaue as vlaue.insuranceCompName for (key,vlaue) in insuranceCompNames">
                        <option value="">请选择</option>
                    </select>
                </div>
                <div>
                    <label class="control-label">请添加要导入的文件&nbsp;</label>
                    <button class="btn btn-default" ngf-select="changeFile()" ngf-multiple="false"
                            ngf-max-size="5MB" ng-model="file.fileData"  accept=".xlsx,.xls" style="line-height: 14px" >浏览</button>
                </div>
            </div>
            <div ng-if="file.importCategory=='推送修'">
                <span style="font-size:14px;color:red">
                    注意：推送修导入模板中必须填入报案号、保单号、车牌号、车架号、报案人、报案电话、出险地点、出险时间.
                </span>
            </div>
            <div ng-if="file.importCategory=='维修记录'">
                <span style="font-size:14px;color:red">
                    注意：维修记录导入模板中必须填入施工单号、维修开始时间、维修结束时间、车牌号、维修金额、服务顾问.
                </span>
            </div>
            <div ng-if="file.importCategory=='工时记录'">
                <span style="font-size:14px;color:red">
                    注意：工时记录导入模板中必须填入施工单号、维修项目.
                </span>
            </div>
            <div ng-if="file.importCategory=='配件记录'">
                <span style="font-size:14px;color:red">
                    注意：配件记录导入模板中必须填入施工单号、配件名称.
                </span>
            </div>
            <div>
                <span style="font-size:14px">推送修导入模版下载请<a href="../../file/pushMaintenanceImport.xls">点击这里</a>,</span><br/>
                <span style="font-size:14px">维修记录导入模版下载请<a href="../../file/maintenanceRecordImport.xls">点击这里</a>,</span><br/>
                <span style="font-size:14px">工时记录导入模板下载请<a href="../../file/maintenanceItemImport.xls">点击这里</a>,</span><br/>
                <span style="font-size:14px">配件记录导入模板下载请<a href="../../file/maintenancePartImport.xls">点击这里</a>.</span>
            </div>
            <div ng-show="show" style="z-index: 3"><img src="../../styles/images/uploading.gif"></div>
            <div style="height: 70px; overflow-y: auto;">
                <span style="font-size:16px;color:red">{{message}}</span>
                <span ng-if="showLink&&file.importCategory=='推送修'" style="font-size:16px;color:red">
                    详情请<a target="_blank" href="../../file/importPushMaintenanceMessage.txt">点击查看</a>
                </span>
                <span ng-if="showLink&&file.importCategory=='维修记录'" style="font-size:16px;color:red">
                    详情请<a target="_blank" href="../../file/importMaintainRecordMessage.txt">点击查看</a>
                </span>
                <span ng-if="showLink&&file.importCategory=='工时记录'" style="font-size:16px;color:red">
                    详情请<a target="_blank" href="../../file/importMaintenanceItemMessage.txt">点击查看</a>
                </span>
                <span ng-if="showLink&&file.importCategory=='配件记录'" style="font-size:16px;color:red">
                    详情请<a target="_blank" href="../../file/importMaintenancePartMessage.txt">点击查看</a>
                </span>
            </div>
        </div>
        <div class="scmWindowButton">
            <input class="closeBtn" ng-click="" type="button" value="关闭">
        </div>
    </div>
</div>

<script>
    //关闭弹框
    $(".closeBtn").click(function(){
        $("#sjdr").hide();
    });
</script>