<div class="scmContentTitle">
    <ul id="myTab" class="cartype nav nav-tabs" style="border-bottom: none;">
        <li href="#userManage" class="active" ng-click="findUser('yhgl')"  data-toggle="tab">
                用户管理
        </li>
        <li href="#userBind" ng-click="findBindUser('yhbd')" ng-show="checkStoreBindStaus" data-toggle="tab">
            用户绑定
        </li>
    </ul>
    <div id="scmTitleTool" class="scmTitleTools">
        <div style="width: 100px" ng-show="checkStoreBindStaus&&pageType=='yhbd'">
            <button type="button" class="btn btn-primary btn-sm" ng-click="bindUserAuto()" style="background-color: #1db6b0;border: 1px solid #1db6b0">
                <span class="glyphicon glyphicon-user"></span>
                智能绑定
            </button>
        </div>
    </div>
</div>
<div id="myTabContent" class="tab-content" style="padding: 10px 14px;height: 100%">
    <div class="tab-pane fade in active" id="userManage" style="height:97%;padding-bottom: 3%;">
        <div ui-grid="userManageOptions" style="width:100%;height: 100%;" ui-grid-selection ui-grid-pinning  ui-grid-resize-columns ui-grid-auto-resize></div>
    </div>
    <div class="tab-pane fade" id="userBind" style="height:97%;padding-bottom: 3%;">
        <div ui-grid="userBindOptions" style="width:100%;height: 100%;" ui-grid-selection ui-grid-pinning  ui-grid-resize-columns ui-grid-auto-resize></div>
    </div>
</div>
