<div id="bindUserbox" class="scmMaskWindow">
    <div class="scmWindow" style="height: 500px; width: 400px; margin-left: -200px; margin-top: -240px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <i>
                绑定用户
            </i>
            <span class="closeBtn glyphicon glyphicon-remove"></span>
        </div>

        <form name="myForm" novalidate="novalidate">
            <div class="scmWindowContent ui-widget">
                <div class="carmsg" style="height: 385px">
                    <div style="height: 350px">
                    <table class="adduser-table" style="text-align: left;">
                        <tr>
                            <td width="130">BIP登录名</td>
                            <td><input type="text" name="loginName"  ng-model="bindUser.loginName" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>BIP用户姓名</td>
                            <td><input type="text" ng-model="bindUser.userName" readonly></td>
                        </tr>
                        <tr>
                            <td>BIP岗位</td>
                            <td><input type="text" ng-model="bindUser.roleName" readonly></td>
                        </tr>
                      <tr>
                            <td width="">待绑定BSP登录名</td>
                            <td><input type="text" ng-model="bindUser.bspLoginName" readonly></td>
                        </tr>
                        <tr>
                            <td width="">待绑定BSP用户姓名</td>
                            <td><input type="text" ng-model="bindUser.bspUserName" readonly></td>
                        </tr>
                        <tr>
                            <td width="">待绑定BSP岗位</td>
                            <td><input type="text"  name="email" ng-model="bindUser.bspUserPosition" readonly></td>
                        </tr>
                        <tr>
                            <td width="">搜索用户</td>
                            <td><input type="text" ng-model="userSearch">
                                <ul class="bind_bsp_user">
                                    <li ng-repeat="bsp_user in bsp_users_noBind | filter:userSearch | orderBy:'bsp_user.bspUserName'"
                                        ng-click="select_bsp_user(bsp_user)">{{bsp_user.bspUserName}}-{{bsp_user.bspUserPosition}}</li>
                                </ul></td>
                        </tr>
                    </table>
                    </div>
                    <div>
                        <b>提示：</b>1.对于已经绑定过的用户将不会出现在此列表。
                    </div>
                </div>

            </div>
            <div class="scmWindowButton">
                <input ng-click="submit_bindInfo_single()" type="button" value="确认">
            </div>
        </form>
    </div>
</div>
<script>
    //关闭弹框
    $(".closeBtn").click(function(){
        $("#bindUserbox").hide();
    });
</script>