<ion-view>
  <ion-nav-title>
    {{ctrl.customerDetails.contact}} 潜客信息
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left fcf" ui-sref="searchList({userId:ctrl.userId,userName:ctrl.userName,cxdata:ctrl.cxdata})"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="bip-item-divider">
      <div class="title">客户信息</div>
    </div>
    <div class="row fs12">
      <div class="col col-50">联系人姓名：{{ctrl.customerDetails.contact}}</div>
      <div class="col col-50"><span class="ml10">{{ctrl.customerDetails.contactWay}}</span><span class="ml10">{{ctrl.customerDetails.customerLevel}}</span></div>
    </div>
    <div class="bip-item-divider">
      <div class="title">车辆信息</div>
    </div>
    <div class="row fs12">
      <div class="col col-50">车牌号：{{ctrl.customerDetails.carLicenseNumber}}</div>
      <div class="col col-50">车架号：{{ctrl.customerDetails.chassisNumber|limitTo:-6}}</div>
    </div>
    <div class="row fs12">
      <div class="col col-50">车型号：{{ctrl.customerDetails.vehicleModel}}</div>
      <div class="col col-50">上牌日期：{{ctrl.customerDetails.registrationDate | date:'yy/MM/dd' }}</div>
    </div>
    <div class="bip-item-divider item-icon-right" ng-click="ctrl.insuranceStatus = !ctrl.insuranceStatus">
      <div class="title">保险信息</div>
      <i ng-hide="ctrl.insuranceStatus" class="icon ion-ios-arrow-up" style="font-size: 20px"></i>
      <i ng-hide="!ctrl.insuranceStatus" class="icon ion-ios-arrow-down" style="font-size: 20px"></i>
    </div>
    <div class="row fs12">
      <div class="col col-50">交强险到期日：{{ctrl.customerDetails.jqxrqEnd | date:'yy/MM/dd'}}</div>
      <div class="col col-50">商业险到期日：{{ctrl.customerDetails.syxrqEnd | date:'yy/MM/dd'}}</div>
    </div>
    <div class="row fs12">
      <div class="col col-50">去年保费：{{ctrl.customerDetails.insuranceCoverageLY}}元</div>
    </div>
    <div class="row fs12" ng-hide="!ctrl.insuranceStatus">
      <div class="col">去年投保险种：{{ctrl.customerDetails.insuranceTypeLY}}</div>
    </div>
    <div class="row fs12" ng-hide="!ctrl.insuranceStatus">
      <div class="col">备注：{{ctrl.customerDetails.remark}}</div>
    </div>
    <div class="bip-item-divider">
      <div class="title">近5次跟踪记录 <span class="fr fcgreen padding-right" ui-sref="searchRecord({userId:ctrl.userId,userName:ctrl.userName,customerId:ctrl.customerDetails.customerId,cxdata:ctrl.cxdata})">查看全部</span></div>
    </div>
    <div class="list bipPsize">
      <div class="item item-icon-right trackList" ng-repeat="customerTraceRecode in  ctrl.customerTraceRecodes| limitTo: 5" ng-click="customerTraceRecode.hideStatus = !customerTraceRecode.hideStatus">
        <p>{{customerTraceRecode.currentTraceDate | date:'yy/MM/dd hh:mm'}}</p>
        <p  ng-hide="customerTraceRecode.hideStatus">跟踪内容：{{customerTraceRecode.traceContext}}</p>
        <i  ng-hide="customerTraceRecode.hideStatus" class="icon ion-ios-arrow-up" style="font-size: 20px"></i>
        <div ng-hide="!customerTraceRecode.hideStatus" class="trackdetails">跟踪内容：{{customerTraceRecode.traceContext}}</div>
        <i ng-hide="!customerTraceRecode.hideStatus" class="icon ion-ios-arrow-down" style="font-size: 20px"></i>
      </div>
      <div class="text-center mt20" ng-if="ctrl.customerTraceRecodes.length==0">暂无记录</div>
    </div>
  </ion-content>
  <ion-footer-bar ng-show="(((ctrl.statusId ==1||ctrl.statusId ==2||ctrl.statusId ==3||ctrl.statusId ==4||ctrl.statusId ==5||ctrl.statusId ==9)||(ctrl.statusId == 0 && (ctrl.acceptStatu == 1||ctrl.cusLostInsurStatu == 1||ctrl.traceStatu == 1 || ctrl.traceStatu == 2||ctrl.cusLostInsurStatu == 2)))
  &&((ctrl.user.role.roleId==2&&ctrl.cusLostInsurStatu != 2)||ctrl.user.role.roleId==6||ctrl.user.role.roleId==8))||(((ctrl.statusId ==1||ctrl.statusId ==2||ctrl.statusId ==3||ctrl.statusId ==4||ctrl.statusId ==8||ctrl.statusId ==9||ctrl.statusId ==11)&&(ctrl.user.role.roleId==7||ctrl.user.role.roleId==9))
  ||((ctrl.statusId == 0 && (ctrl.returnStatu != 2&&ctrl.returnStatu != 11))&&(ctrl.user.role.roleId==7||ctrl.user.role.roleId==9)))" align-title="center" class="dark-border">
    <div class="button-bar" ng-show="(ctrl.statusId ==1||ctrl.statusId ==2||ctrl.statusId ==3||ctrl.statusId ==5||ctrl.statusId ==9)&&ctrl.user.role.roleId==2">
      <button ng-show="ctrl.statusId == 1 || ctrl.statusId == 2|| ctrl.statusId == 3" class="button button-bip" ng-click="modalYgz.show()">跟踪</button>
      <button ng-show="(ctrl.statusId == 1 || ctrl.statusId == 2 || ctrl.statusId == 3) && ctrl.csModuleFlag==1" class="button button-bip" ng-click="modalHT.show()">回退</button>
      <button ng-show="(ctrl.statusId == 1 || ctrl.statusId == 2 || ctrl.statusId == 3) && ctrl.csModuleFlag==0" class="button button-bip" ng-click="modalSX.show()">失销</button>
      <button ng-show="(ctrl.statusId == 1 || ctrl.statusId == 2 || ctrl.statusId == 3) && ctrl.csModuleFlag==0" class="button button-bip" ng-click="modalSM.show()">睡眠</button>
      <button ng-show="ctrl.statusId == 3" class="button button-bip" ng-click="modalYQ.show()">延期</button>
      <button ng-show="ctrl.statusId == 9" class="button button-bip" ng-click="ctrl.updateAcceptStatus()">接收</button>
      <button ng-show="ctrl.statusId == 1 || ctrl.statusId == 2 || ctrl.statusId == 5" class="button button-bip" ui-sref="deleteInviteCx({userId:ctrl.userId,userName:ctrl.userName,customerId:ctrl.customerDetails.customerId,cxdata:ctrl.cxdata})">删除邀约</button>
    </div>
    <div class="button-bar" ng-show="(ctrl.statusId == 0 && (ctrl.acceptStatu == 1||ctrl.cusLostInsurStatu == 1||ctrl.traceStatu == 1 || ctrl.traceStatu == 2)&&ctrl.cusLostInsurStatu != 2)&&ctrl.user.role.roleId==2">
      <button ng-show="(ctrl.traceStatu == 1 || ctrl.traceStatu == 2|| ctrl.cusLostInsurStatu == 1)&&ctrl.cusLostInsurStatu != 2" class="button button-bip" ng-click="modalYgz.show()">跟踪</button>
      <button ng-show="(ctrl.traceStatu == 1 || ctrl.traceStatu == 2|| ctrl.cusLostInsurStatu == 1)&&ctrl.cusLostInsurStatu != 2 && ctrl.csModuleFlag==1&&ctrl.returnStatu!=3" class="button button-bip" ng-click="modalHT.show()">回退</button>
      <button ng-show="(ctrl.traceStatu == 1 || ctrl.traceStatu == 2|| ctrl.cusLostInsurStatu == 1)&&ctrl.cusLostInsurStatu != 2 && ctrl.csModuleFlag==0&&ctrl.returnStatu!=3" class="button button-bip" ng-click="modalSX.show()">失销</button>
      <button ng-show="(ctrl.traceStatu == 1 || ctrl.traceStatu == 2|| ctrl.cusLostInsurStatu == 1)&&ctrl.cusLostInsurStatu != 2 && ctrl.csModuleFlag==0&&ctrl.returnStatu!=3" class="button button-bip" ng-click="modalSM.show()">睡眠</button>
      <button ng-show="ctrl.cusLostInsurStatu == 1" class="button button-bip" ng-click="modalYQ.show()">延期</button>
      <button ng-show="ctrl.acceptStatu == 1" class="button button-bip" ng-click="ctrl.updateAcceptStatus()">接收</button>
    </div>
    <div class="button-bar" ng-show="(ctrl.statusId ==1||ctrl.statusId ==2||ctrl.statusId ==3||ctrl.statusId ==4||ctrl.statusId ==9)
    &&(ctrl.user.role.roleId==6||ctrl.user.role.roleId==8)">
      <button ng-show="ctrl.statusId == 1 || ctrl.statusId == 2|| ctrl.statusId == 3" class="button button-bip" ng-click="modalgwGZ.show()">跟踪</button>
      <button ng-show="ctrl.statusId == 1 || ctrl.statusId == 2 || ctrl.statusId == 3|| ctrl.statusId == 4" class="button button-bip" ng-click="modalHT.show()">回退</button>
      <button ng-show="ctrl.statusId == 9" class="button button-bip" ng-click="ctrl.updateAcceptStatus()">接收</button>
    </div>
    <div class="button-bar" ng-show="(ctrl.statusId == 0 && (ctrl.acceptStatu == 1||ctrl.traceStatu == 1 || ctrl.traceStatu == 2||ctrl.cusLostInsurStatu == 1||ctrl.cusLostInsurStatu == 2))&&(ctrl.user.role.roleId==6||ctrl.user.role.roleId==8)">
      <button ng-show="ctrl.cusLostInsurStatu != 2" class="button button-bip" ng-click="modalgwGZ.show()">跟踪</button>
      <button ng-show="ctrl.cusLostInsurStatu == 2" class="button button-bip" ng-click="modalHT.show()">回退</button>
    </div>
    <div class="button-bar" ng-show="(ctrl.statusId ==1||ctrl.statusId ==2||ctrl.statusId ==3||ctrl.statusId ==4||ctrl.statusId ==8||ctrl.statusId ==9||ctrl.statusId ==11)
    &&(ctrl.user.role.roleId==7||ctrl.user.role.roleId==9)">
      <button ng-show="ctrl.statusId == 8" class="button button-bip" ng-click="TyhtBox.show()">同意回退</button>
      <button ng-show="ctrl.statusId == 8" class="button button-bip" ng-click="refuseBox.show()">拒绝回退</button>
      <button ng-show="ctrl.statusId != 8" class="button button-bip" ng-click="modalZDHT.show()">回退</button>
      <button class="button button-bip" ng-click="modalHR.show()">换人</button>
    </div>
    <div class="button-bar" ng-show="(ctrl.statusId == 0 && (ctrl.returnStatu != 2&&ctrl.returnStatu != 11))&&(ctrl.user.role.roleId==7||ctrl.user.role.roleId==9)">
      <button ng-show="ctrl.returnStatu == 3" class="button button-bip" ng-click="TyhtBox.show()">同意回退</button>
      <button ng-show="ctrl.returnStatu == 3" class="button button-bip" ng-click="refuseBox.show()">拒绝回退</button>
      <button ng-show="ctrl.returnStatu != 3" class="button button-bip" ng-click="modalZDHT.show()">回退</button>
      <button class="button button-bip" ng-click="modalHR.show()">换人</button>
    </div>
  </ion-footer-bar>
  <ion-footer-bar ng-show="ctrl.user.role.roleId==3 && (ctrl.holderRoleId==2 || cusLostInsurStatu==2 || (ctrl.csModuleFlag==1&&ctrl.returnStatu==10)||ctrl.customerLevel=='S')" align-title="center" class="dark-border">
    <div class="button-bar">
      <button ng-show="ctrl.returnStatu==3 && ctrl.holderRoleId==2&&ctrl.csModuleFlag==1" class="button button-bip" ng-click="ctrl.AgreetraceReturn(1)">同意回退</button>
      <button ng-show="ctrl.returnStatu==3 && ctrl.holderRoleId==2&&ctrl.csModuleFlag==1" class="button button-bip" ng-click="ctrl.unAgreeTraceReturn(1)">拒绝回退</button>
      <button ng-show="ctrl.applyStatu==1&&ctrl.returnStatu==3 && ctrl.holderRoleId==2&&ctrl.csModuleFlag==0" class="button button-bip" ng-click="ctrl.AgreetraceReturn(2)">同意失销</button>
      <button ng-show="ctrl.applyStatu==1&&ctrl.returnStatu==3 && ctrl.holderRoleId==2&&ctrl.csModuleFlag==0" class="button button-bip" ng-click="ctrl.unAgreeTraceReturn(2)">拒绝失销</button>
      <button ng-show="ctrl.applyStatu==2&&ctrl.returnStatu==3 && ctrl.holderRoleId==2&&ctrl.csModuleFlag==0" class="button button-bip" ng-click="ctrl.AgreetraceReturn(3)">同意睡眠</button>
      <button ng-show="ctrl.applyStatu==2&&ctrl.returnStatu==3 && ctrl.holderRoleId==2&&ctrl.csModuleFlag==0" class="button button-bip" ng-click="ctrl.unAgreeTraceReturn(3)">拒绝睡眠</button>
      <button ng-show="ctrl.returnStatu==7" class="button button-bip" ng-click="ctrl.updateReturnStatuToYyq()">同意延期</button>
      <button ng-show="ctrl.returnStatu==7" class="button button-bip" ng-click="ctrl.updateReturnStatuToCszt()">拒绝延期</button>
      <button ng-show="ctrl.returnStatu != 2&&ctrl.returnStatu != 11 && ctrl.holderRoleId==2" class="button button-bip" ng-click="ctrl.replacePrincipal()">换人</button>
      <button  ng-show="ctrl.csModuleFlag==1&&ctrl.returnStatu==10" class="button button-bip" ng-click="ctrl.assignPrincipal()">指定负责人</button>
      <button ng-show="((ctrl.returnStatu!=2 && ctrl.returnStatu!=3 && ctrl.returnStatu!=5 && ctrl.returnStatu!=7 && ctrl.returnStatu!=10)
      || (ctrl.cusLostInsurStatu==2 && ctrl.returnStatu!=3 )) && ctrl.holderRoleId==2 && ctrl.csModuleFlag==1" class="button button-bip" ng-click="ctrl.activeReturn()">回退</button>
      <button ng-show="((ctrl.returnStatu!=2 && ctrl.returnStatu!=3 && ctrl.returnStatu!=5 && ctrl.returnStatu!=7 && ctrl.returnStatu!=10)
      || (ctrl.cusLostInsurStatu==2 && ctrl.returnStatu!=3 )) && ctrl.holderRoleId==2 && ctrl.csModuleFlag==0" class="button button-bip" ng-click="modalZDSX.show()">失销</button>
      <button ng-show="ctrl.cusLostInsurStatu==2&&ctrl.customerLevel!='S'" class="button button-bip" ng-click="ctrl.updateReturnStatuByRD()">延期</button>
      <button ng-show="ctrl.customerLevel=='S'" class="button button-bip" ng-click="ctrl.cancelSleep()">取消睡眠</button>
    </div>
  </ion-footer-bar>
</ion-view>
