<div id="modifyuserbox" class="scmMaskWindow">
    <div class="scmWindow" style="height: 440px; width: 400px; margin-left: -200px; margin-top: -220px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <i>
                修改用户信息
            </i>
            <span class="closeBtn glyphicon glyphicon-remove"></span>
        </div>

        <form name="myForm" novalidate="novalidate">
            <div class="scmWindowContent ui-widget">
                <div class="carmsg" style="width: 370px; height: 320px;">
                    <table class="adduser-table" style="line-height: 28px;">
                        <tr>
                            <td width="120">所属</td>
                            <td><input type="text"   ng-model="modifyuser.suoshuName" Fieldset disabled></td>
                        </tr>
                        <tr ng-show="modifyuser.suoshu==2">
                            <td>事业部名称</td>
                            <td><input type="text"   ng-model="modifyuser.unitName" Fieldset disabled></td>
                        </tr>
                        <tr>
                            <td>角色分类</td>
                            <td><input type="text"   ng-model="modifyuser.type" Fieldset disabled></td>
                        </tr>
                        <tr>
                            <td>角色选择</td>
                            <td><input type="text"   ng-model="modifyuser.roleName" Fieldset disabled></td>
                        </tr>
                        <tr>
                            <td>用户姓名</td>
                            <td><input type="text" ng-model="modifyuser.userName" maxlength="40"></td>
                        </tr>
                        <tr>
                            <td>用户名</td>
                            <td><input type="text" name="loginName"  ng-model="modifyuser.loginName"
                                       placeholder="由字母、数字或下划线组成" maxlength="40" >
                            </td>
                        </tr>
                        <tr>
                            <td>初始密码</td>
                            <td><input type="text"  value="123456" Fieldset disabled></td>
                        </tr>
                        <tr>
                            <td>联系电话</td>
                            <td><input type="text" ng-model="modifyuser.phone"></td>
                        </tr>
                        <tr>
                            <td>邮箱</td>
                            <td><input type="text"  name="email" ng-model="modifyuser.email" maxlength="40"></td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td><input type="text" ng-model="modifyuser.remark" maxlength="500"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="scmWindowButton">
                <input class="fr closeBtn"  type="button" value="取消">
                <input class="fr" ng-click="modityUserSubmit()" type="button" value="确认">
            </div>
        </form>
    </div>
</div>
<script>
    //关闭弹框
    $(".closeBtn").click(function(){
        $("#modifyuserbox").hide();
    });
</script>