<div id="resetPass" class="scmMaskWindow">
    <div class="scmWindow" style="height: 180px; width: 300px; margin-left: -100px; margin-top: -90px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <i>
                重置密码
            </i>
        </div>
        <div class="scmWindowContent ui-widget">
            <div class="carmsg">
                <p class="text-center" style="font-size: 16px;margin: 5px auto;">是否重置密码</p>
                <p class="text-center mt20">
                    <input type="button" value="是" ng-click="resetPasswordbtn()">
                    <input class="closeBtn" type="button" value="否">
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    //关闭弹框
    $(".closeBtn").click(function(){
        $("#resetPass").hide();
    });
</script>