<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bofide.bip.mapper.CarBrandMapper">
	<resultMap id="BaseResultMap" type="com.bofide.bip.po.CarBrand" >
    	<id column="brandId" property="brandId" jdbcType="INTEGER" />
    	<result column="brandName" property="brandName" jdbcType="VARCHAR" />
    	<result column="createDate" property="createDate" jdbcType="DATE" />
    	<result column="remark" property="remark" jdbcType="VARCHAR" />
    	<result column="brandEnglish" property="brandEnglish" jdbcType="VARCHAR" />
    	<result column="venderId" property="venderId" jdbcType="INTEGER" />
    	
    	<collection property="vender" ofType="com.bofide.bip.po.Vender">
			<result column="venderName" property="venderName" jdbcType="VARCHAR" />
	    	<result column="venderEnglish" property="venderEnglish" jdbcType="VARCHAR" />
		</collection>
  	</resultMap>
	<select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			bf_bip_carBrand a
		LEFT JOIN bf_bip_vender b ON a.venderId = b.id
		<where>
			<if test="brandName != null and brandName != ''">
				AND a.brandName like '%${brandName}%'
			</if>
			<if test="brandEnglish != null and brandEnglish != ''">
				AND a.brandEnglish like '%${brandEnglish}%'
			</if>
			<if test="venderName != null and venderName != ''">
				AND b.venderName like '%${venderName}%'
			</if>
			<if test="venderEnglish != null and venderEnglish != ''">
				AND b.venderEnglish like '%${venderEnglish}%'
			</if>
		</where>
	</select>
  
  	<insert id="insert" useGeneratedKeys="true" keyProperty="brandId" parameterType="com.bofide.bip.po.CarBrand" >
   	 insert into bf_bip_carBrand 
    	(brandName, createDate, remark, brandEnglish, venderId)
   	 values 
    	(#{brandName,jdbcType=VARCHAR}, CURDATE(), #{remark,jdbcType=VARCHAR} ,#{brandEnglish,jdbcType=VARCHAR} ,#{venderId,jdbcType=INTEGER})
  	</insert>
  	
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bf_bip_carBrand
    where brandId = #{brandId,jdbcType=INTEGER}
  </delete>
  
  <select id="selectByBrandName" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			bf_bip_carBrand a
		LEFT JOIN bf_bip_vender b ON a.venderId = b.id
		WHERE
			brandName = #{brandName,jdbcType=VARCHAR}
	</select>
	
  <update id="updateCarBrand"  parameterType="com.bofide.bip.po.CarBrand">
    update bf_bip_carBrand
   		set
       		brandName = #{brandName,jdbcType=VARCHAR},
       		remark = #{remark,jdbcType=VARCHAR},
       		brandEnglish = #{brandEnglish,jdbcType=VARCHAR},
       		venderId = #{venderId,jdbcType=INTEGER}
    	where
     		brandId = #{brandId,jdbcType=INTEGER}
 </update>
	<!-- 按品牌名称首字母大小排序查询所有品牌 -->
	<select id="selectAllByOrder" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			bf_bip_carBrand a
		LEFT JOIN bf_bip_vender b ON a.venderId = b.id
		<where>
			<if test="brandName != null and brandName != ''">
				AND a.brandName like '%${brandName}%'
			</if>
			<if test="venderId != null and venderId != ''">
				AND b.id = #{venderId} 
			</if>
		</where>
		ORDER BY CONVERT(a.brandName USING GBK)
	</select>
</mapper>