<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bofide.bip.mapper.UpdatePasswordRecordMapper">
	<resultMap id="BaseResultMap" type="com.bofide.bip.po.UpdatePasswordRecord" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="storeId" property="storeId" jdbcType="INTEGER" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="oldPassword" property="oldPassword" jdbcType="VARCHAR" />
		<result column="newPassword" property="newPassword" jdbcType="VARCHAR" />
		<result column="insuranceCompName" property="insuranceCompName" jdbcType="VARCHAR" />
		<result column="operator" property="operator" jdbcType="VARCHAR" />
		<result column="operateTime" property="operateTime" jdbcType="TIMESTAMP" />
		<result column="operateStatu" property="operateStatu" jdbcType="INTEGER" />
	</resultMap>
 
	<select id="findByStoreAndTime" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from bf_bip_update_password_record 
		where storeId = #{storeId} and DATE_FORMAT(operateTime , '%Y-%m-%d') = #{operateTime}
		order by operateTime DESC
	</select>
	
	<insert id="insert" parameterType="java.util.Map" >
		insert into bf_bip_update_password_record(
			storeId,userName,oldPassword,newPassword,insuranceCompName,operator,operateTime,operateStatu
		) values (
			#{storeId},#{userName},#{oldPassword},#{newPassword},
			#{insuranceCompName},#{operator},CURRENT_TIMESTAMP(),#{operateStatu}
		)
	</insert>
	
	<select id="findLatestRecordByStore" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from bf_bip_update_password_record 
		where storeId = #{storeId} 
		order by operateTime DESC limit 1;
	</select>
</mapper>