<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bofide.bip.mapper.UpdateSxfRecordMapper">
	<resultMap id="BaseResultMap" type="com.bofide.bip.po.UpdateSxfRecord" >
		<id column="id" property="id" jdbcType="INTEGER" />
    	<result column="storeId" property="storeId" jdbcType="INTEGER" />
    	<result column="insurerComId" property="insurerComId" jdbcType="INTEGER" />
    	<result column="insuranceName" property="insuranceName" jdbcType="VARCHAR" />
    	<result column="percentBefore" property="percentBefore" jdbcType="FLOAT" />
    	<result column="percentAfter" property="percentAfter" jdbcType="FLOAT" />
    	<result column="changerId" property="changerId" jdbcType="INTEGER" />
    	<result column="changer" property="changer" jdbcType="VARCHAR" />
    	<result column="changeTime" property="changeTime" jdbcType="DATE" />
	</resultMap>

	<!-- 新增手续费修改记录 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.bofide.bip.po.UpdateSxfRecord" >
		insert into bf_bip_update_sxf_record (
			storeId, insurerComId, insuranceName, percentBefore,percentAfter,changerId,changer,changeTime
		) values (
			#{storeId},#{insurerComId},#{insuranceName},#{percentBefore},
			#{percentAfter},#{changerId},#{changer},#{changeTime}
		)
	</insert>
	
</mapper>