<div id="genzcl" class="scmMaskWindow" ng-init="detectcycle()">
    <div class="scmWindow" style="height: 600px; width: 1100px; margin-left: -550px; margin-top: -300px;">
        <div class="scmWindowTitle">
            <div class="scmWindowIcon">
            </div>
            <i>
                跟踪处理
            </i>
            <span class="closeNewBtn glyphicon glyphicon-remove" ng-show="clickFlag!=0&&jiandr==0 &&pageType!='yyjl'" ng-click="saveCustChangeBtn()"></span>
            <span class="closeBtn glyphicon glyphicon-remove" ng-show="clickFlag==0&&jiandr==0" ng-click="changeClickFlag()"></span>
            <span class="closeBtn glyphicon glyphicon-remove" ng-show="jiandr==1" ng-click="guanbi()"></span>
            <!--下面两个span表示续保专员邀约界面下的OFS以及负责人不是自己的操作按钮的显示-->
            <span class="closeNewBtn glyphicon glyphicon-remove" ng-show="clickFlag!=0&&jiandr==0 && pageType=='yyjl'&& principalId==user.userId && customerLevel!='O'&& customerLevel!='F'&& customerLevel!='S'" ng-click="saveCustChangeBtn()" ></span>
            <span class="closeBtn glyphicon glyphicon-remove" ng-show="clickFlag!=0&&jiandr==0 && pageType=='yyjl'&& principalId!=user.userId || customerLevel=='O'|| customerLevel=='F'|| customerLevel=='S'" ng-click="guanbi()" ></span>
        </div>
        <div class="scmWindowContent ui-widget changeValue" style="height:500px;overflow-x:hidden;overflow-y: auto; outline: 0px; position: relative;">
            <div class="carmsg">
                <h3>车辆信息</h3>
                <span><label>车牌号</label> <input type="text" ng-model="custInfo.carLicenseNumber" maxlength="30"  ng-disabled="custInfo.ifUpdate==1&&bhDock==1"></span>
                <span><label>车架号<em class="emphasis">*</em></label> <input type="text" ng-model="custInfo.chassisNumber"></span>
                <span><label>发动机号</label> <input type="text" ng-model="custInfo.engineNumber" maxlength="50"  ng-disabled="custInfo.ifUpdate==1&&bhDock==1"></span>
                <span><label>上牌日期</label> <input type="text" class="carDate"  ng-model="custInfo.registrationDate" readonly></span>
                <span><label>品牌</label>
                    <select required="" ng-model="custInfo.carBrand" style="height: 20px;margin: 5px;margin-left: 2px"
                            ng-options="carBrand as carBrand.brandName for (key,carBrand) in carBrandsgz"
                            ng-change="gzclVehicleModel()">
                        <option value="">请选择品牌</option>
                    </select>
                </span>
                <span><label>车型</label>
                    <select id="clxhxz_gzcl" ng-model="custInfo.vehicleModel" style="height: 20px;margin: 5px;margin-left: 2px"
                            ng-options="vehicleModel as vehicleModel.modelName for (key,vehicleModel) in custInfo.carBrand.carModelList">
                        <option value="">请选择型号</option>
                    </select>
                     <input type="text" id="clxhsr_gzcl" ng-model="custInfo.vehicleModelInput"  maxlength="50">
                </span>
                <span><label>车型号</label> <input type="text" ng-model="custInfo.factoryLicenseType" maxlength="50"></span>
                <span><label>是否本店购买车辆</label>
                    <select  ng-model="custInfo.buyfromThisStore" ng-options="vlaue.id as vlaue.vlaue for (key,vlaue) in sf">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>车辆年审日期</label> <input type="text" class="carDate" ng-model="custInfo.carAnnualCheckUpDate" readonly></span>
                <span><label>是否贷款</label>
                    <select  ng-model="custInfo.ifLoan" ng-options="vlaue.id as vlaue.vlaue for (key,vlaue) in loan">
                        <option value="">请选择</option>
                    </select>
                </span>
            </div>
            <div class="carmsg">
                <h3>保险信息
                    <span ng-if="bhDock==1||bhDock==2" style="vertical-align: middle;margin-top: -4px;width: 15px;" class="glyphicon glyphicon-repeat cursor" title="点击请求获取潜客最新续险信息" ng-click="manual(1)"></span>
                    <span ng-if="bhDock==4" style="vertical-align: middle;margin-top: -4px;width: 15px;" class="glyphicon glyphicon-repeat cursor" title="点击请求获取潜客最新续险信息" ng-click="manual(2)"></span>
                </h3>
                 <span>
                    <label>商业险日期结束</label>
                    <input type="text" class="coverDate"  ng-model="custInfo.syxrqEnd" readonly ng-disabled="custInfo.ifUpdate==1&&(bhDock==1||bhDock==2)">
                </span>
                 <span style="position: relative">
                    <label>交强险日期结束</label>
                    <input type="text" class="coverDate"  ng-model="custInfo.jqxrqEnd" readonly ng-disabled="custInfo.ifUpdate==1&&(bhDock==1||bhDock==2)">
                    <span class="glyphicon glyphicon-exclamation-sign red jqxrqIcon" ng-click="changeJqxrqEnd()" title="{{custInfo.bhInsuranceEndDate}}" ng-if="custInfo.showNum>1000*60*60*24*dayNumber&&(bhDock==1||bhDock==2)"></span>
                    <span class="glyphicon glyphicon-exclamation-sign blue jqxrqIcon" ng-click="changeJqxrqEnd()" title="{{custInfo.bhInsuranceEndDate}}" ng-if="0<custInfo.showNum&&custInfo.showNum<=1000*60*60*24*dayNumber&&(bhDock==1||bhDock==2)"></span>
                </span>
                <span><label>投保类型<em class="emphasis">*</em></label>
                    <input type="text"  value="{{custInfo.renewalType | mapTBLX}}" readonly>
                </span>
                <span><label>续保渠道</label>
                    <select ng-model="custInfo.renewalWay" ng-options="x for x in renewalWays">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>当前负责人</label> <input type="text" class="disabledbg" ng-model="custInfo.principal" maxlength="20" readonly></span>
                <span><label>去年招揽员</label> <input type="text" ng-model="custInfo.solicitMemberLY" maxlength="20"></span>
                <span><label>本店投保次数</label> <input type="number" ng-model="custInfo.insurNumber" min="0" onkeyup="value=value.replace(/[^\d]/g,'')"></span>
                <span><label>最低折扣</label> <input type="text" ng-model="custInfo.zdZheKou" maxlength="20"></span>
                <span><label>去年投保日期</label> <input type="text" class="coverDate" ng-model="custInfo.insurDateLY" readonly></span>
                <span><label>去年投保公司</label> <input type="text" ng-model="custInfo.insuranceCompLY" maxlength="30" ng-disabled="custInfo.ifUpdate==1&&(bhDock==1||bhDock==2)"></span>
                <span><label>去年保费</label> <input type="number" num-format min="0" step="0.01" ng-model="custInfo.insuranceCoverageLY" maxlength="11"></span>
                <span><label>去年优惠项目</label>
                    <select ng-model="custInfo.privilegeProLY" ng-options="x for x in privilegePros">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>去年被保险人</label> <input type="text" ng-model="custInfo.insuredLY" maxlength="30"></span>
                <div>
                <span style="width: 506px;">
                    <label class="fl">去年投保险种</label>
                    <textarea rows="3" cols="30" style="width: 405px;height: 50px;margin-left: 6px" ng-model="custInfo.insuranceTypeLY" maxlength="200" ng-disabled="custInfo.ifUpdate==1&&(bhDock==1||bhDock==2)"></textarea>
                </span>
                    <span style="width: 506px;">
                        <label class="fl">备注</label>
                        <textarea rows="3" cols="30" style="width: 405px;height: 50px;margin-left: 6px;" ng-model="custInfo.remark" maxlength="500"></textarea>
                    </span>
                </div>
            </div>
            <div class="carmsg">
                <h3>客户信息</h3>
                <span><label>车主</label> <input type="text" ng-model="custInfo.carOwner" maxlength="80" ng-disabled="custInfo.ifUpdate==1&&(bhDock==1||bhDock==2)"></span>
                <span><label>被保险人<em class="emphasis">*</em></label> <input type="text" ng-model="custInfo.insured" maxlength="80" ng-disabled="custInfo.ifUpdate==1&&(bhDock==1||bhDock==2)"></span>
                <span><label>被保险人证件号</label> <input type="text" ng-model="custInfo.certificateNumber" maxlength="80" ng-disabled="custInfo.ifUpdate==1&&(bhDock==1||bhDock==2)"></span>
                <span ng-if="!(custInfo.customerLevel=='F'||custInfo.customerLevel=='O'||custInfo.customerLevel=='S') && lockLevel==0"><label>潜客级别</label>
                     <select  ng-model="custInfo.customerLevel" ng-options="x for x in customerLevels">
                     </select>
                </span>
                <span ng-if="(custInfo.customerLevel=='F'||custInfo.customerLevel=='O'||custInfo.customerLevel=='S')&& lockLevel==0"><label>潜客级别</label>
                    <input type="text" ng-value="custInfo.customerLevel" readonly></span>
                <span ng-if="lockLevel==1"><label>潜客级别</label>
                    <input type="text" ng-value="custInfo.customerLevel" readonly></span>
                <span ng-if="!(custInfo.customerLevel=='F'||custInfo.customerLevel=='O'||custInfo.customerLevel=='S') && lockLevel==2"><label>潜客级别</label>
                     <select ng-if="thisRowData.remainLostInsurDay>60"  ng-model="custInfo.customerLevel" ng-options="x for x in customerLevels">
                     </select>
                     <select ng-if="thisRowData.remainLostInsurDay<=60 && thisRowData.remainLostInsurDay>30"  ng-model="custInfo.customerLevel" ng-options="x for x in customerLevelsB">
                         <option ng-if="custInfo.customerLevel == 'D'" value="">{{custInfo.customerLevel}}</option>
                     </select>
                     <select ng-if="thisRowData.remainLostInsurDay<=30 && thisRowData.remainLostInsurDay>7"  ng-model="custInfo.customerLevel" ng-options="x for x in customerLevelsC">
                         <option ng-if="custInfo.customerLevel == 'C'|| custInfo.customerLevel == 'D'" value="">{{custInfo.customerLevel}}</option>
                     </select>
                     <select ng-if="thisRowData.remainLostInsurDay<=7" ng-model="custInfo.customerLevel" ng-options="x for x in customerLevelsD">
                         <option ng-if="custInfo.customerLevel != 'A'" value="">{{custInfo.customerLevel}}</option>
                     </select>
                </span>
                <span ng-if="(custInfo.customerLevel=='F'||custInfo.customerLevel=='O'||custInfo.customerLevel=='S')&& lockLevel==2"><label>潜客级别</label>
                    <input type="text" ng-value="custInfo.customerLevel" readonly></span>
                <span><label>联系人<em class="emphasis">*</em></label> <input type="text" ng-model="custInfo.contact" maxlength="80"></span>
                <span><label>联系方式<em class="emphasis">*</em></label> <input type="text" ng-model="custInfo.contactWay" maxlength="60"></span>
                <span><label>联系方式（备）</label> <input type="text" ng-model="custInfo.contactWayReserve" maxlength="60"></span>
                <span><label>是否本店再修客户</label>
                    <select  ng-model="custInfo.isMaintainAgain" ng-options="vlaue.id as vlaue.vlaue for (key,vlaue) in sf">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span style="width: 504px"><label>现住址</label> <input style="width: 403px" type="text" ng-model="custInfo.address" maxlength="100"></span>
                <span><label>去年本店维修次数</label> <input type="number" ng-model="custInfo.maintainNumberLY" min="0" onkeyup="value=value.replace(/[^\d]/g,'')"></span>
                <span><label>去年出险次数</label> <input type="number" ng-model="custInfo.accidentNumberLY" min="0" onkeyup="value=value.replace(/[^\d]/g,'')"></span>
                <span><label>去年事故车产值</label> <input type="number" num-format min="0" step="0.01" ng-model="custInfo.accidentOutputValueLY" maxlength="11"></span>
                <span><label>服务顾问</label>
                    <select required="" ng-model="custInfo.serviceConsultant" style="height: 20px;margin: 5px;margin-left: 2px"
                            ng-options="vlaue as vlaue.userName for (key,vlaue) in kingdsUser.servicer">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span><label>客户性质</label> <input type="text" ng-model="custInfo.customerCharacter" maxlength="20" ng-disabled="custInfo.ifUpdate==1&&(bhDock==1||bhDock==2)"></span>
                <span><label>是否高意向</label>
                    <select  ng-model="custInfo.sfgyx" ng-options="vlaue.id as vlaue.vlaue for (key,vlaue) in sf">
                        <option value="">请选择</option>
                    </select>
                </span>
                <span style="width: 506px;">
                        <label class="fl">客户描述</label>
                        <textarea rows="3" cols="30" style="width: 405px;height: 50px;margin-left: 6px;" ng-model="custInfo.customerDescription" maxlength="100"></textarea>
                    </span>
            </div>
            <div class="progressContainer">
                <div class="progressBar" style="width: 400px;">
                    <div class="progressNow" ng-style="progressWidth" style="width:0%">
                    </div>
                    <ul>
                        <li class="progressDot progressStart" ng-class="{'emptyStart': isQuoteBol}"  style="left:0%;">
                            报价
                            <div>
                            </div>
                        </li>
                        <li class="progressDot" ng-class="{'emptyDot': isInviteBol}" style="left:33%;">
                            邀约
                            <div>
                            </div>
                        </li>
                        <li class="progressDot" ng-class="{'emptyDot': isComeStoreBol}"  style="left:66%;">
                            进店
                            <div>
                            </div>
                        </li>
                        <li class="progressDot" ng-class="{'emptyDotEnd': lastYearIsDealBol}"  style="left:99%;">
                            出单
                            <div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <ul id="gz_tab" class="cartype_gz nav nav-tabs">
                    <li class="active" id="gzjl_tab"  href="#genzong"  ng-click="" data-toggle="tab">
                        跟踪记录
                    </li>
                    <li  href="#baojia"  ng-click="findListCustomerBJRecode()" data-toggle="tab">
                        报价记录
                    </li>
                    <li  href="#weixiu" ng-click="findwxRecordByCondition()" data-toggle="tab">
                        维修记录
                    </li>
                    <li  href="#tsx"  ng-click="findByConditionTSX()" data-toggle="tab">
                        推送修记录
                    </li>
                    <!--<li  href="#spdjl" ng-click="findApprovalBillRecordList()" data-toggle="tab">-->
                        <!--审批单记录-->
                    <!--</li>-->
                </ul>
                <div class="tab-content mt10" id="gz_tab_grid" style="width: 1050px;height: 250px;" >
                    <div class="tab-pane fade in active" id="genzong" style="position: relative;">
                        <div ui-grid="tracelistPage" style="width: 1050px;height: 250px;"  ui-grid-pinning  ui-grid-resize-columns ui-grid-selection>
                        </div>
                        <div class="trackConbox">
                            <textarea class="trackCopybox"  rows="3" cols="30" readonly>{{traceContext}}</textarea>
                            <div style="text-align:right"><button ng-click="trackConboxHide()">取消</button></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="baojia">
                        <div ui-grid="add_bj_Page" style="width: 1050px;height: 250px;"  ui-grid-pinning  ui-grid-resize-columns ui-grid-selection>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="weixiu">
                        <div ui-grid="maintainRecordPage" style="width: 1050px;height: 250px;"  ui-grid-pinning  ui-grid-resize-columns ui-grid-selection>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tsx">
                        <div ui-grid="pushRepairPage" style="width: 1050px;height: 250px;"  ui-grid-pinning  ui-grid-resize-columns ui-grid-selection>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="spdjl">
                        <div ui-grid="customerSpdjl" style="width: 1050px;height: 250px;"  ui-grid-pinning  ui-grid-resize-columns ui-grid-selection>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scmWindowButton">
            <input class="trackCust" ng-click="addNewTraceInit()" ng-show="(pageType=='tb'&& cusLostInsurStatu==1)||pageType=='gz'||pageType=='qkcx'|| (pageType=='grxx' && clickFlag==1)" ng-disabled="acceptStatu==1" type="button" value="跟踪">
            <input ng-click="traceReturn()"  ng-show="(pageType=='tb'||pageType=='qkcx' || pageType=='gz' || (pageType=='grxx' && clickFlag==1))&& csModuleFlag==1" ng-disabled="acceptStatu==1" type="button" value="回退">
            <input ng-click="lostSale()"  ng-show="(pageType=='tb'||pageType=='qkcx' || pageType=='gz' || (pageType=='grxx' && clickFlag==1))&& csModuleFlag==0"  type="button" value="失销">
            <input  type="button" ng-click="wakeUpCustomer()" ng-show="pageType=='ht' && returnStatu==5" value="激活">
            <input ng-click="customerSleep()"  ng-show="(pageType=='tb'||pageType=='qkcx' || pageType=='gz'|| (pageType=='grxx' && clickFlag==1))&& csModuleFlag==0"  type="button" value="睡眠">
            <input  ng-click="updateAcceptStatus()" ng-show="pageType=='js'" type="button" value="接收">
            <input  type="button" ng-click="deleteInvite()" ng-show="pageType=='gz'|| (pageType=='yyjl'&& customerLevel!='O'&& customerLevel!='F'&& customerLevel!='S'&& principalId==user.userId)&& customerLevel!='O'||(pageType=='qkcx'&&inviteStatu==2)" ng-disabled="acceptStatu==1" value="删除邀约">
            <input  type="button" ng-click="updateReturnStatuToDyq()" ng-show="pageType=='tb'||(pageType=='qkcx'&&(cusLostInsurStatu==1||cusLostInsurStatu==2)) || (pageType=='grxx' && clickFlag==1)" ng-disabled="acceptStatu==1" value="延期">
            <input type="button" ng-if="(bhDock==1||bhDock==3||bhDock==4)&&jiandr==0 " ng-show="(pageType=='tb'&& cusLostInsurStatu==1)||pageType=='gz'||pageType=='qkcx'||(pageType=='grxx' && clickFlag==1)||
            (pageType=='yjh'&& asmModuleFlag==0)|| (pageType=='ddwcd'&& asmModuleFlag==0)||(pageType=='yyjl'&& asmModuleFlag==0 && customerLevel!='O'&& customerLevel!='F'&& customerLevel!='S'&& principalId==user.userId)||(pageType=='ht' && returnStatu==5 && asmModuleFlag==0)"
            ng-click="open_BJ()" value="报价">
            <input type="button" ng-if="bhDock==0 && asmModuleFlag==0" ng-click="open_isNoBJ()" value="报价">
            <input ng-click="sendSms()" type="button" ng-show="(pageType=='yyjl'&& principalId==user.userId && customerLevel!='O'&& customerLevel!='F'&& customerLevel!='S')" value="发送短信">
            <input ng-click="sendSms()" type="button" ng-show="pageType!='yyjl'" value="发送短信">
            <input ng-show="pageType=='dsp'&& csModuleFlag==1 && returnStatu==3"  ng-click="cancelApproved()" type="button" value="撤销回退">
            <input ng-show="pageType=='dsp'&& csModuleFlag==0 && applyStatu==1"  ng-click="cancelApproved(1)" type="button" value="撤销失销">
            <input ng-show="pageType=='dsp'&& csModuleFlag==0 && applyStatu==2"  ng-click="cancelApproved(2)" type="button" value="撤销睡眠">
            <!--出单员禁用后，确认到店、审批单、生成保单、激活、取消睡眠显示在续保专员界面-->
            <input ng-click="confirmStore()" ng-if="asmModuleFlag==0 && customerLevel!='S' && (pageType=='qkcx' ||(pageType=='yyjl'&& customerLevel!='O'&& customerLevel!='F'&& customerLevel!='S'&& principalId==user.userId))&& customerLevel!='F'" type="button" value="确认到店">
            <input ng-show="customerLevel!='S' && (pageType=='qkcx'||(pageType=='yyjl'&& customerLevel!='O'&& customerLevel!='F'&& customerLevel!='S'&& principalId==user.userId)||pageType=='yjh' ||pageType=='ddwcd') && cwmksfkq==1 && asmModuleFlag==0" ng-click="spd_info()" type="button" value="审批单">
            <input ng-show="customerLevel!='S' && (pageType=='qkcx'||(pageType=='yyjl'&& customerLevel!='O'&& customerLevel!='F'&& customerLevel!='S'&& principalId==user.userId)|| (pageType=='ht' && returnStatu==5) || pageType=='yjh' ||pageType=='ddwcd') && asmModuleFlag==0" ng-click="newPolicybtn_qk()" type="button" value="生成保单">
            <input ng-click="saveCancelSleep()" type="button" ng-show="customerLevel=='S'&& pageType=='qkcx' && asmModuleFlag==0" value="取消睡眠">
            <!--禁用出单员续保专员按钮显示结束-->
            <input  ng-show="clickFlag!=0&&jiandr==0 && pageType!='yyjl'" ng-click="saveCustChangeBtn()" type="button" value="关闭">
            <input class="closeBtn" ng-show="clickFlag==0&&jiandr==0" ng-click="changeClickFlag()" type="button" value="关闭">
            <input class="closeBtn" ng-show="jiandr==1" ng-click="guanbi()" type="button" value="关闭">
            <!--下面两个span表示续保专员邀约界面下的OFS以及负责人不是自己的操作按钮的显示-->
            <input  ng-show="clickFlag!=0&&jiandr==0 && pageType=='yyjl'&& principalId==user.userId && customerLevel!='O'&& customerLevel!='F'&& customerLevel!='S'" ng-click="saveCustChangeBtn()" type="button" value="关闭">
            <input class="closeBtn" ng-show="clickFlag!=0&&jiandr==0 && pageType=='yyjl'&& (principalId!=user.userId || customerLevel=='O'|| customerLevel=='F'|| customerLevel=='S')" ng-click="guanbi()" type="button" value="关闭">
        </div>

    </div>
</div>
<script>
    //关闭弹框
    $(".closeBtn").click(function(){
        $("#genzcl").hide();
    });
    function guanbi(){
        $("#genzcl").hide();
    }
    $('.coverDate').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        todayBtn: 'linked',
        language: 'zh-CN',
        forceParse:false
    }).on('changeDate',function(ev){
        var  startTime = ev.date.valueOf();
    });
    $('.carDate').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        todayBtn: 'linked',
        language: 'zh-CN',
        forceParse:false
    }).on('changeDate',function(ev){
        var  startTime = ev.date.valueOf();
    });
</script>