<ion-view view-title="找回密码">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="ctrl.goBack()"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="row">
      <div class="col">
          手机号码：
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="item item-input">
          <input type="text" placeholder="请输入注册手机号码" ng-model="ctrl.diaData.tel">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <label class="item item-input">
          <input type="text" placeholder="请输入验证码" ng-model="ctrl.diaData.code">
        </label>
      </div>
      <div class="col">
        <button ng-disabled="ctrl.isSend" class="button button-outline button-calm" style="width:100%" ng-click="ctrl.getMessageCode()" ng-bind="ctrl.buttonVal"></button>
      </div>
    </div>
    <div class="padding-left padding-right">
      <button class="button button-block button-calm" ng-click="ctrl.varifyCode()">
        确&nbsp;&nbsp;定
      </button>
    </div>   
    <div class="loginErrMsg" ng-show="ctrl.errMsg" ng-bind="ctrl.errMsg"></div>
  </ion-content>
</ion-view>
