<ion-view view-title="找回密码">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="ctrl.goBack()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row">
      <div class="col">
        新密码：
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="item item-input">
          <input type="password" placeholder="请输入6位或以上数字或字母新密码" ng-model="ctrl.diaData.password">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        确认新密码：
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="item item-input">
          <input type="password" placeholder="请再次输入新密码" ng-model="ctrl.diaData.rePassword">
        </label>
      </div>
    </div>

    <div class="padding-left padding-right">
      <button class="button button-block button-calm" ng-click="ctrl.modifyPassword()">
        确&nbsp;&nbsp;定
      </button>
    </div>   
    <div class="loginErrMsg" ng-show="ctrl.errMsg" ng-bind="ctrl.errMsg"></div>
  </ion-content>
</ion-view>
